<script>
document.addEventListener('DOMContentLoaded', function navbarListener() {

  document.querySelector(".navbar-toggle").addEventListener("click", function() {
    
    var target = document.getElementById(this.attributes["data-target"].value.slice(1));

    if (target.className.split(" ").indexOf("in") > -1) {
      target.classList.remove("in");
    } else {
      target.classList.add("in");
    }

  });
}, false);
</script>
<nav class="navbar navbar-inverse" style="border-radius:0px;">
  <div class="container-fluid">

    <div class="navbar-header">
      <button type="button" style="border:none;color: #9d9d9d;font-size:large;margin-right:5px" class="navbar-toggle collapsed glyphicon glyphicon-search" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle Search</span>
      </button>
      <a class="navbar-brand" href="/feed">Food-Blog</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <form class="navbar-form navbar-right" action="/search">
        <div class="form-group has-feedback">
            <!-- <label class="control-label">Search</label> -->
            <input type="text" class="form-control" placeholder="Search..." name="food-text" style="border-radius:25px;"/>
            <button style="padding-left:8px" class="btn btn-link form-control-feedback" type="submit">
              <i class="glyphicon glyphicon-search"></i>
            </button>
        </div>
      </form>
    </div><!-- /.navbar-collapse -->

  </div><!-- /.container-fluid -->
</nav>