<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>Food Items</title>
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
 
<body>
 
    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation"><a href="/">Home</a>
                    </li>
                </ul>
            </nav>
            <h3 class="text-muted">Food Blog</h3>
        </div>
    </div>

    <div class="container">
        {% if msg %}
        {{msg}}
        {% endif %}
    </div>

    <div class="container">

        <nav aria-label="Page navigation">
          <ul class="pagination">
            <li>
              <a href="/list?page={{indexes['prev']}}" aria-label="Previous">
                <span aria-hidden="true">&laquo; Prev</span>
              </a>
            </li>
            <li>
                <a href="/list?page={{indexes['curr']}}">Current {{indexes['curr']}}</a>
            </li>
            <!-- <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li> -->
            <li>
              <a href="/list?page={{indexes['next']}}" aria-label="Next">
                <span aria-hidden="true">Next &raquo;</span>
              </a>
            </li>
          </ul>
        </nav>

        <div class="list-group">

            {% for entry in posts %}
            <a href="{{"/detail/" + entry[0]}}" class="list-group-item">
                <h4 class="list-group-item-heading"></h4>
                <p class="list-group-item-text">
                    <b>INSTA_ID</b> {{entry[0]}}<br>
                    <b>INSTA_TEXT</b> {{entry[1]}}<br>
                    <b>INSTA_LOC_ID</b> {{entry[2]}}<br>
                    <b>INSTA_IMG_FULL</b> {{entry[3]}}<br>
                    <b>IMAGE_IMG_THUMB</b> {{entry[4]}}<br>
                    <b>USERNAME</b> {{entry[5]}}<br>
                    <b>INSTA_POST_DATE</b> {{entry[6]}}<br>
                    <b>FOOD_NAME</b> {{entry[7]}}<br>
                    <b>INSTA_LOC_NAME</b> {{entry[8]}}<br>
                </p>
            </a>
            {% endfor %}

        </div>

        <nav aria-label="Page navigation">
          <ul class="pagination">
            <li>
              <a href="/list?page={{indexes['prev']}}" aria-label="Previous">
                <span aria-hidden="true">&laquo; Prev</span>
              </a>
            </li>
            <li>
                <a href="/list?page={{indexes['next']}}">Current {{indexes['curr']}}</a>
            </li>
            <!-- <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li> -->
            <li>
              <a href="/list?page={{indexes['next']}}" aria-label="Next">
                <span aria-hidden="true">Next &raquo;</span>
              </a>
            </li>
          </ul>
        </nav>
 
    </div>

</body>
 
</html>