<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>Food Details</title>
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
 
<body>
 
    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation"><a href="/">Home</a>
                    </li>
                </ul>
            </nav>
            <h3 class="text-muted">Food Blog</h3>
        </div>
    </div>

    <div class="container">
        <h2>
            Details about food
        </h2>
        <form class="form-horizontal" action="/save/{{post.insta_id}}" method="post">

        <div class="form-group">
          <label for="post-id" class="col-sm-2 control-label">INSTA_ID:</label>
          <div class="col-sm-10">
            <!-- <input type="text" class="form-control" name="INSTA_ID" id="post-id" value="{{post.insta_id}}" disabled> -->
            <p style="padding-top:7px">{{post.insta_id}}</p>
          </div>
        </div>
        <div class="form-group">
          <label for="post-name" class="col-sm-2 control-label">FOOD_NAME:</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" name="FOOD_NAME" id="post-name" value="{{post.food_name}}">
          </div>
        </div>
        <div class="form-group">
          <label for="post-text" class="col-sm-2 control-label">INSTA_TEXT:</label>
          <div class="col-sm-10">
            <!-- <input type="text" class="form-control" name="INSTA_TEXT" id="post-text" value="{{post.insta_text}}" disabled> -->
            <p style="padding-top:7px">{{post.insta_text}}</p>
          </div>
        </div>
        <div class="form-group">
          <label for="post-location-id" class="col-sm-2 control-label">INSTA_LOC_ID:</label>
          <div class="col-sm-10">
            <!-- <input type="text" class="form-control" name="INSTA_LOC_ID" id="post-location-id" value="{{post.insta_loc_id}}" disabled> -->
            <p style="padding-top:7px">{{post.insta_loc_id}}</p>
          </div>
        </div>
        <div class="form-group">
          <label for="post-location" class="col-sm-2 control-label">INSTA_LOC_NAME:</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" name="INSTA_LOC_NAME" id="post-location" value="{{post.insta_loc_name}}">
          </div>
        </div>
        <div class="form-group">
          <label for="post-img" class="col-sm-2 control-label">INSTA_IMG_FULL:</label>
          <div class="col-sm-10">
            <!-- <input type="text" class="form-control" name="INSTA_IMG_FULL" id="post-img" value="{{post.insta_img_full}}" disabled> -->
            <a href="{{post.insta_img_full}}" style="padding-top:7px">{{post.insta_img_full}}</a>
          </div>
        </div>
        <div class="form-group">
          <label for="post-thumb" class="col-sm-2 control-label">IMAGE_IMG_THUMB:</label>
          <div class="col-sm-10">
            <!-- <input type="text" class="form-control" name="IMAGE_IMG_THUMB" id="post-thumb" value="{{post.insta_img_thumb}}" disabled> -->
            <a href="{{post.insta_img_thumb}}" style="padding-top:7px">{{post.insta_img_thumb}}</a>
          </div>
        </div>
        <div class="form-group">
          <label for="post-user" class="col-sm-2 control-label">USERNAME:</label>
          <div class="col-sm-10">
            <!-- <input type="text" class="form-control" name="USERNAME" id="post-user" value="{{post.username}}" disabled> -->
            <p style="padding-top:7px">{{post.username}}</p>
          </div>
        </div>
        <div class="form-group">
          <label for="post-date" class="col-sm-2 control-label">INSTA_POST_DATE:</label>
          <div class="col-sm-10">
            <!-- <input type="text" class="form-control" name="INSTA_POST_DATE" id="post-date" value="{{post.insta_post_date}}" disabled> -->
            <p style="padding-top:7px">{{post.insta_post_date}}</p>
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <button id="submit-form" type="submit" class="btn btn-success">Save Changes</button>
            <!-- <button id="cancel-event" type="button" class="btn btn-danger">Cancel Changes</button> -->
          </div>
        </div>

      </form>

    </div>
 
    </div>
</body>
 
</html>