<!DOCTYPE html>
<html lang="en">

<head>
    <title>Food Details</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet"> -->
    {% include 'partials/styles.html' %}

    <style>
      .explore a {
        /*font-weight: bold;*/
        margin: 2px;
        padding: 5px 10px;
        background-color: lightblue;
        border-radius: 5px;
      }
      </style>
</head>

<body>

    {% include 'partials/navbar.html' %}

    <div class="container">
      {% if msg %}
        {{msg}}
      {% endif %}
    </div>

    <div class="container">

      <div class="row">
        <div class="col-md-8 col-md-offset-2" style="text-align:center;">
          <h2>
            {% if food_name %}
                {{ food_name }}
            {% else %}
                {{food_caption[0:15] + "..."}}
            {% endif %} @ <span><a class="location-link" href="/search?location_name={{location_name|urlencode}}">{{location_name}}</a></span>
          </h2>
          <img src="{{image_link}}" style="width: 100%; max-width:320px;">
          <br><br>
          <p>{{food_caption}}</p>
          <p class="text-muted" style="text-align:right;font-style:italic;">Tasted on: {{post_date}}<br>Posted by: <a href="https://www.instagram.com/{{username}}/">{{username}}<a/></p>
          <a class="btn btn-primary" href="https://www.instagram.com/p/{{post_id}}/">Open in Instagram</a>
        </div>
      </div>

      <div class="row">
        <div class="col-md-8 col-md-offset-2 explore">
          <p>Explore</p>
          <!-- <a href="/list">Crispy</a><a href="/list">King</a><a href="/list">Prawn</a><a href="/list">Han Ba Tang</a> -->
          <span style="line-height: 2.5em;">
          {% for tag in name_tags %}
            <a href="/search?food_name={{tag}}">{{tag}}</a>
          {% endfor %}
          {% for tag in location_tags %}
            <a href="/search?location_name={{tag}}">{{tag}}</a>
          {% endfor %}
            <a href="/search?poster={{username}}">{{username}}</a>
          </span>
        </div>
      </div>

    </div>

</body>

</html>